<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>sign up page</title>
<link rel="stylesheet" href="@{/css/}">
<link rel="stylesheet" href="@{/css/signup.css}">
<script src="@{/js/bootstrap.bundle.min.js}"></script> 
</head>
<body>
<div class="signup-form">
    <form method="post">
		<div class="form-header">
			<h2>Sign Up</h2>
			<p>Fill the form to create your own account</p>
		</div>
        <div class="form-group">
			<label>Username</label>
        	<input type="text" th:class="form-control" name="username" placeholder=" enter username" required="required">
        </div>
        <div class="form-group">
			<label>Email Address</label>
        	<input type="email" th:class="form-control " name="email" placeholder="enter email" required="required">
        </div>
		<div class="form-group">
			<label>Password</label>
            <input type="password" th:class="form-control" name="password" placeholder=" enter password" required="required">
        </div>
		<div class="form-group">
			<label>Confirm Password</label>
            <input type="password" th:class="form-control" name="confirm_password" placeholder="confirm" required="required">
        </div>        
        <!-- <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="@{#}">Terms of Use</a> &amp; <a href="@{#}">Privacy Policy</a></label>
		</div> -->
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
		</div>	
    </form>
	<div class="text-center small">Already have an account? <a href="@{#}">Login here</a></div>
</div>
</body>
</html>
